@import "tailwindcss";

@theme {
  --color-primary: #11d483;
  --color-background-light: #f6f8f7;
  --color-background-dark: #10221a;

  --font-display: "Space Grotesk", sans-serif;
  
  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
